# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/images/kev1.jpg
src/images/sdsapage_img.png
src/images/acraf_sdspage_cropped.jpg
src/images/acraf_sdspage2_cropped.jpg
src/images/acraf_sdspage3_cropped.jpg
src/images/hardTofindLanessdspage.jpg
src/images/psychsdspage.jpeg
src/images/spreadSdspage.png
